.base {
  width: 100%;
  height: auto;
  padding: 40px;
  text-align: center;
}
.content {
  width: 100%;
  padding: 40px;
  text-align: left;
  max-width: 960px;
}

.card {
  width: 100%;
  height: auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}
.row {
  width: 100%;
}
.label {
  width: auto;
  color: #ccc;
  margin-right: 10px;
  font-size: 12px;
}

.name {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
